.payment-setup {
  .cards {
    display: flex;
    flex: 1 1 0;
    gap: 24px;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 22px;

    &.cards1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &.cards2 {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .card {
    width: calc(50% - 12px);
    min-width: 300px;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 24px;
    flex-grow: 1;
    position: relative;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &.card1 {
      background: transparent;
      gap: 0;
      padding: 0;
    }

    &.logos {
      flex-direction: row;
      padding: 0 24px;
      gap: 30px;
    }
    & > p {
      margin: 0;
    }
    & > button {
      position: absolute;
      bottom: 24px;
    }
  }
  .para {
    margin-bottom: 48px;
  }

  .link {
    color: #2e55b9;
  }

  .footer-btns {
    display: flex;

    & > a {
      margin-right: 15px;
    }
  }

  .next-button-lg {
    display: inline;
  }

  .next-button-sm {
    display: none;
  }

  .success-container {
    background: linear-gradient(264.69deg, #198807 2.17%, #017c6d 97.49%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 24px;
    align-self: start;
    width: calc(50% - 12px);
    height: 120px;
    flex-grow: 1;
    line-height: 24px;
    svg {
      margin-right: 18px;
      width: 26px;
      height: 26px;
    }

    div {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .cards {
      flex-direction: column;
    }
    .success-container {
      width: 100%;
    }
    .card {
      width: 100%;
    }
  }

  @media screen and (max-width: 425px) {
    .back-button-text {
      display: none;
    }

    .next-button-lg {
      display: none;
    }

    .next-button-sm {
      display: inline;
    }

    .page-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between !important;
    }

    .footer-btns > a {
      margin-right: 5px;
    }
  }
}

.bottom-space {
  margin-bottom: 200px;
}
