$green1: #137d60;
$blue1: #2f757e;
$grey-bg: #F4F4F4;
$teal: #227681;
$grey-text: #2A2A2A;
$black: #000000;
$divider-color: #E9E9E9;
$orange-25: #FFF0CE;
$red-120: #BE405E;
$purple-100: #9D41C9;
$gray-10: #E9E9E9;
$gray-80: #555555;