@import "styles/include";

.payment-methods {
  display: flex;
  margin-top: 22px;
  @include mobile {
    flex-direction: column;
    margin-top: 16px;
  }
  .payment-method-card {
    background-color: $grey-bg;
    padding: 30px;
    display: flex;
    flex: 1;
    margin-right: 24px;
    flex-direction: column;
    border-radius: 8px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 16px;
    }
    .button-wrapper {
      margin-top: 32px;
      @include mobile {
        margin-top: 24px;
      }
      .payment-button {
        font-size: 14px;
        @include font-roboto;
        line-height: 12px;
        height: 40px;
        border-radius: 25px;
        @include mobile {
          height: 32px;
        }
      }
    }
    .content-wrapper {
      flex-direction: column;
    }
  }
  .payment-method-card:last-child {
    margin-right: 0;
    @include mobile {
      margin-bottom: 0;
    }
  }
}

.payment-logo {
  height: 40px;

  svg {
    height: 100%;
  }
}

.info-text {
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}
