@import "styles/include";

.form-field {
  position: relative;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  background: white;
  padding-top: 24px;
  margin-bottom: 18px;

  .label{
    position: absolute;
    top: 5px;
    left: 15px;
    color: $green1;
    font-size: 13px;
  }
}