.contact-details {
  .form-row {
    align-items: flex-start;
  }
  .form-description {
    font-size: 18px;
    margin-top: 0;
  }
  .form-p {
    font-weight: 430;
    font-size: 18px;
    margin-top: 20px;
  }
}

.page-footer {
  .footer-btn-lg {
    display: inline-block;
  }

  .footer-btn-sm {
    display: none;
  }

  .right-content {
    display: flex;
  }

  .finish-later {
    margin-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  .back-button-text {
    display: none;
  }

  .page-footer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;

    .footer-btn-lg {
      display: none;
    }

    .footer-btn-sm {
      display: inline-block;
    }
  }
}
